body {
	background-color: #ffecec;
}

.header-color {
	height: 80px;
	position: sticky;
	z-index: 2;
}

.header-scroll {
	background-color: #ffecec;
	box-shadow: 1px 1px 10px grey;
}

.header-color .container, .navbar, .navbar-brand {
	height: 100%;
}

.header-color .container {
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}

#menulinks {
	list-style: none;
}

.menulink {
	font-family: "Impact";
	font-size: 1.3em;
	opacity: 0.7 !important;
	color: white;
	transition: all 0.5s;
	margin: 0 10px 0 10px;
}

.menulink:hover {
	color: white;
	opacity: 1 !important;
	text-shadow: 2px 2px grey;
	font-size: 1.35em;
	text-decoration: none;
}

.sticky {
	position: fixed;
	top: 0;
	width: 100%;
	color: black !important;
	transition: all 1s;
}

.logo {
	width: 60px;
	height: 60px;
	margin-top: -4px;
}

.wallpaper {
	background: url("media/wallpaper.jpg") no-repeat center;
	width: 100%;
	z-index: 1;
	background-attachment: fixed;
	position: absolute;
	top: 0;
	bottom: 0;
}

.blocone {
	display: flex;
	justify-content: center;
	align-content: center;
	margin-top: 200px;
}

.img {
	width: 60%;
}

.titleone {
	text-align: center;
	color: white;
	font-family: "Impact";
	text-shadow: 3px 3px 3px grey, 0 0 1em grey;
}

.blocbio {
	top: 950px;
	background-color: #ffecec;
	width: 100%;
	height: 900px;
	display: flex;
	align-items: center;
	position: absolute;
}

.titletwo {
	text-align: center;
	color: black;
	font-size: 3.5em;
	font-family: "Impact";
	text-align: left;
}

.img2 {
	object-fit: contain;
	width: 40%;
}

.textbloctwo {
	width: 30%;
}

.skills {
	margin-top: 2rem;
	margin-bottom: 1rem;
}

.skill {
	margin-bottom: 1rem;
}

.skill h3 {
	font-size: 1.2em;
}

.progress-bar {
	background-color: orange;
}

.blocprojects {
	background-color: #ffecec;
	width: 100%;
	height: 700px;
	display: flex;
	position: absolute;
	top: 1950px;
}

.titlethree {
	font-size: 3em;
	font-family: "Impact";
}

.undertitlethree {
	font-family: "Impact";
}

.separation {
	background-color: grey;
	height: 300px;
	width: 1px;
	margin-left: 2%;
	margin-right: 2%;
}

.divimgprojet {
	width: 45%;
	text-shadow: 3px 3px 3px grey, 0 0 1em grey;
}

.divprojects {
	display: flex;
	align-items: center;
	flex-direction: column;
	width: 100%;
}

.projets {
	display: flex;
	justify-content: space-around;
	width: 100%;
	height: 100%;
}

.hoverproject {
	background: rgba(0, 0, 0, 0.7);
	opacity: 0;
	transition: 1s all;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.hoverproject:hover {
	opacity: 1;
}

/* .bloccontact {
	background-color: #ffe4e4;
	width: 100%;
	height: 500px;
	display: flex;
	align-items: center;
} */

/* .formulaire {
	width: 80%;
} */

.projet2 {
	background: url("media/projet2-oc.png") no-repeat center;
	height: 50%;
	background-size: cover;
}

.projet3 {
	background: url("media/projet3-oc.png") no-repeat center;
	height: 50%;
	background-size: cover;
}

.projet5 {
	background: url("media/projet5-oc.png") no-repeat center;
	height: 50%;
	background-size: cover;
}

.projet7 {
	background: url("media/projet7-oc.png") no-repeat center;
	height: 50%;
	background-size: cover;
}

.projetbbs {
	background: url("media/projetbbs.png") no-repeat center;
	height: 50%;
	background-size: cover;
}

.projetpf {
	background: url("media/projetp-f.png") no-repeat center;
	height: 50%;
	background-size: cover;
}

@media only screen and (max-width: 770px) {
	.img2 {
		display: none;
	}
	.textbloctwo {
		width: 80%;
	}
	.blocbio {
		margin-top: 800px;
	}
}